/*
!/.gitignore
!/AGENTS.md
!/index.html
!/package-lock.json
!/package.json
!/vite.config.js

!/public/
/public/**
!/public/data.json
!/public/manifest.json
!/public/sw.js
!/public/icons/
!/public/icons/icon-192.svg
!/public/icons/icon-512.svg

!/src/
/src/**
!/src/App.jsx
!/src/SettingsContext.jsx
!/src/i18n.js
!/src/explanationTranslations.js
!/src/index.css
!/src/main.jsx
!/src/router.js
!/src/utils.js
!/src/components/
!/src/components/QuestionText.jsx
!/src/components/LanguagePicker.jsx
!/src/components/HeaderAppearanceControls.jsx
!/src/components/Results.jsx
!/src/components/FeedbackMark.jsx
!/src/components/OptionList.jsx
!/src/exercises/
!/src/exercises/Accents.jsx
!/src/exercises/ChooseLetter.jsx
!/src/exercises/ChooseWord.jsx
!/src/exercises/ConfusedWords.jsx
!/src/exercises/Flashcards.jsx
!/src/views/
!/src/views/Exercise.jsx
!/src/views/Home.jsx
!/src/views/Settings.jsx
